<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Category</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-item href="#">
      <ion-icon slot="start" size="large" name="football"></ion-icon>
      <ion-label>
        <h2>Sports</h2>
        <p>Watch sports news!</p>
      </ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" name="happy-outline"></ion-icon>
      <ion-label>
        <h2>Entertainment</h2>
        <p>Watch entertainment news!</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
