<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar class="menu" slot="bottom">
    <ion-tab-button tab="favourites">
      <ion-icon name="heart" size="small"></ion-icon>
      Favourites
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home" size="small"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-icon name="library" size="small"></ion-icon>
      Category
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
