<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
    <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  </ion-header>
  <ion-spinner class="spinner" *ngIf="isLoading" name="crescent"></ion-spinner>
  <mobile-news-card *ngFor="let data of newsData" [newsData]="data" />
</ion-content>
